.container{
    width: 50%;
    height: auto;
    margin: 0 auto;
}
table{
    width: 100%;
    border: 1px solid green;
    border-collapse:collapse; 
}
thead tr td{
    background-color:blue; 
    color: white;
    font-size:9px; 
    height: 30px;
    border:1px solid white; 
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
 
}
tbody tr td{
    border: 1px solid blue;
    text-transform: capitalize;
    height: 40px;
    font-size:12px; 
    text-align: center;
    text-transform: uppercase;
}
tbody tr:nth-child(2n+1){
 background-color: #ccc;
}